* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

html, body { height: 100%; }

body { min-width: 940px; font-family: "Ubuntu", sans-serif; font-weight: normal; font-size: 15px; line-height: 1.2; }

a img, fieldset { border: none; }

a { color: #0072a1; text-decoration: none; }
a:hover { color: #d02222; text-decoration: underline; }

p { line-height: 1.2; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; font-family: Cambria, Colibri, Arial, Tahoma, sans-serif; }

button { line-height: 1; cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }

table { border-spacing: 0; border-collapse: collapse; }

.h1 { font-weight: bold; font-size: 36px; color: #ffe600; }

.h2 { font-weight: bold; font-size: 30px; color: white; }

.h2_blue { color: #066ab7; }

.h3 { font-weight: 500; font-size: 21px; color: black; }

.h3_blue { font-weight: normal; color: #066ab7; }

.h3_white { color: white; }

.header { height: 550px; background: url(../img/header-bg.jpg) 0 0 no-repeat; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }

.header__inner { width: 940px; margin: 0 auto; padding: 29px 0 0; }

.header__topper { *zoom: 1; margin-bottom: 40px; }
.header__topper:before, .header__topper:after { content: ""; display: table; }
.header__topper:after { clear: both; }
.header__topper .h1 { float: left; }

.lang { float: right; padding-top: 4px; *zoom: 1; }
.lang:before, .lang:after { content: ""; display: table; }
.lang:after { clear: both; }
.lang li { float: left; }
.lang li a { display: block; width: 40px; height: 40px; line-height: 40px; text-transform: uppercase; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; text-align: center; font-size: 12px; color: #ffe600; }
.lang li a span { border-bottom: 1px dotted; }
.lang li a:hover { text-decoration: none; }
.lang li a.is-active { background: rgba(0, 0, 0, 0.3); color: white; }
.lang li a.is-active span { border-bottom: none; }

.header__content { *zoom: 1; position: relative; }
.header__content:before, .header__content:after { content: ""; display: table; }
.header__content:after { clear: both; }

.header__img { position: absolute; top: -100px; left: -77px; }

.header__right { position: relative; float: right; width: 50%; margin-bottom: 25px; z-index: 2; }

.header__text { padding: 28px 0px 0; font-weight: 300; color: white; font-size: 18px; }

.terms { position: absolute; bottom: 120px; left: 0px; z-index: 2; color: #aed1fa; font-size: 14px; clear: both; }

.form { position: relative; font-size: 0; padding: 0 30px; z-index: 2; }
.form input { margin-left: 20px; vertical-align: top; }
.form input:first-child { margin-left: 0; }

.input { height: 16px; border: 2px solid #2c324a; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: white; font-size: 16px; padding: 10px 15px; font-family: "Ubuntu", sans-serif; color: black; }
.input.placeholder { color: #999999; }
.input:-moz-placeholder { color: #999999; }
.input::-webkit-input-placeholder { color: #999999; }

.input_name { width: 356px; }

.input_phone { width: 226px; }

.btn { width: 190px; height: 38px; border: 1px solid #ffc500; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #ffde00; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe900), color-stop(100%, #ffc500)); background: -webkit-linear-gradient(top, #ffe900 0%, #ffc500 100%); background: -moz-linear-gradient(top, #ffe900 0%, #ffc500 100%); background: -o-linear-gradient(top, #ffe900 0%, #ffc500 100%); background: linear-gradient(top, #ffe900 0%, #ffc500 100%); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.72); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.72); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.72); font: 500 18px "Ubuntu", sans-serif; color: #21368b; cursor: pointer; }

.wrapper_snow { background: url(../img/snow.png) 50% -133px no-repeat; }

.wrapper_gray { background: #f9fbfd; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #edf4fa), color-stop(30%, #f9fbfd), color-stop(70%, #f9fbfd), color-stop(100%, #edf4fa)); background: -webkit-linear-gradient(top, #edf4fa 0%, #f9fbfd 30%, #f9fbfd 70%, #edf4fa 100%); background: -moz-linear-gradient(top, #edf4fa 0%, #f9fbfd 30%, #f9fbfd 70%, #edf4fa 100%); background: -o-linear-gradient(top, #edf4fa 0%, #f9fbfd 30%, #f9fbfd 70%, #edf4fa 100%); background: linear-gradient(top, #edf4fa 0%, #f9fbfd 30%, #f9fbfd 70%, #edf4fa 100%); }

.container { position: relative; width: 940px; margin: 0 auto; }

.container_right .h2 { text-align: right; }

.container__left { width: 50%; float: left; }

.container__right { width: 50%; float: right; }
.container__right .dotted-box { width: 346px; float: right; margin-top: 15px; }

.list { padding: 28px 0 0 14px; }
.list li { position: relative; margin-bottom: 15px; padding-left: 30px; font-size: 18px; }
.list li:before { content: ""; position: absolute; top: 0px; left: 0px; background: url('../img/icons-sb115184b73.png') 0 -460px no-repeat; width: 20px; height: 20px; }
.list li a { display: inline-block; color: #ffe600; border-bottom: 1px dotted; }
.list li a:hover { text-decoration: none; }

.speed-3g { padding-top: 80px; min-height: 400px; background: url(../img/speed-3g.png) 100% 127px no-repeat; }

.coverage { padding: 80px 0 60px; min-height: 300px; background: url(../img/map.png) 0px 70px no-repeat; }

.activate { padding: 80px 0 0; }

.activate-step1, .activate-step2 { position: relative; padding: 20px 0 0 85px; margin-bottom: 34px; margin-top: 17px; }
.activate-step1 span, .activate-step2 span { font-size: 18px; }
.activate-step1:before, .activate-step2:before { content: ""; position: absolute; top: 0px; left: -11px; background: url('../img/icons-sb115184b73.png') 0 -98px no-repeat; width: 95px; height: 88px; }

.activate-step2:before { background: url('../img/icons-sb115184b73.png') 0 0 no-repeat; width: 95px; height: 88px; }

.dotted-box { -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; border: 2px dashed #d2e5f3; text-align: center; padding: 20px 15px 20px; }

.dotted-box__title { position: relative; top: -12px; display: inline-block; padding: 0 17px; background: white; font-size: 18px; font-weight: bold; text-transform: uppercase; }

.price { *zoom: 1; margin-top: 17px; }
.price:before, .price:after { content: ""; display: table; }
.price:after { clear: both; }

.price__col { float: left; width: 50%; *zoom: 1; }
.price__col:before, .price__col:after { content: ""; display: table; }
.price__col:after { clear: both; }

.price__text { float: left; width: 60%; padding-top: 10px; text-align: right; font-size: 18px; font-weight: 300; }

.price-val { float: right; width: 37%; text-align: left; font-size: 14px; color: #066ab7; }
.price-val span { font-weight: bold; font-size: 50px; }

.tarif-wrap { *zoom: 1; margin-bottom: 30px; }
.tarif-wrap:before, .tarif-wrap:after { content: ""; display: table; }
.tarif-wrap:after { clear: both; }

.tarif__col { float: left; width: 460px; }
.tarif__col .h3 { margin-bottom: 8px; }

.tarif__col_right { float: right; }

.tarif { position: relative; border: 1px solid #0569b7; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.tarif__head { *zoom: 1; background: #0569b7; color: white; font-weight: 500; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0569b7), color-stop(100%, #05528e)); background: -webkit-linear-gradient(top, #0569b7 0%, #05528e 100%); background: -moz-linear-gradient(top, #0569b7 0%, #05528e 100%); background: -o-linear-gradient(top, #0569b7 0%, #05528e 100%); background: linear-gradient(top, #0569b7 0%, #05528e 100%); }
.tarif__head:before, .tarif__head:after { content: ""; display: table; }
.tarif__head:after { clear: both; }
.tarif__head li { position: relative; float: left; width: 50%; height: 60px; padding: 18px 18px 0 60px; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: -1px 0 1px #065592; -moz-box-shadow: -1px 0 1px #065592; box-shadow: -1px 0 1px #065592; border-left: 1px solid #297fc0; }
.tarif__head li:first-child { border-left: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.tarif__head li.free-access:before { content: ""; position: absolute; top: 9px; left: 9px; background: url('../img/icons-sb115184b73.png') 0 -368px no-repeat; width: 42px; height: 42px; }
.tarif__head li.free-access-3g:before { content: ""; position: absolute; top: 9px; left: 9px; background: url('../img/icons-sb115184b73.png') 0 -316px no-repeat; width: 42px; height: 42px; }

.tarif__body { *zoom: 1; }
.tarif__body:before, .tarif__body:after { content: ""; display: table; }
.tarif__body:after { clear: both; }
.tarif__body .tarif__body-col { position: relative; float: left; width: 50%; min-height: 213px; -moz-box-sizing: border-box; box-sizing: border-box; padding: 18px 0 36px 18px; border-left: 1px solid #deebf6; }
.tarif__body .tarif__body-col:first-child { border-left: none; }

.list-small { margin-bottom: 15px; }
.list-small li { position: relative; padding-left: 10px; font-weight: 300; font-size: 15px; margin-bottom: 10px; }
.list-small li:before { content: ""; position: absolute; top: 6px; left: 0px; background: url('../img/icons-sb115184b73.png') 0 -490px no-repeat; width: 5px; height: 7px; }
.list-small li span { font-weight: bold; color: #066ab7; font-size: 20px; vertical-align: top; }

.tarif__link { position: absolute; bottom: 20px; left: 20px; font-size: 13px; display: inline-block; font-weight: 300; border-bottom: 1px dotted; }
.tarif__link:hover { text-decoration: none; color: #066ab7; }

.info { position: relative; padding: 33px 33px 33px 63px; font-size: 16px; font-weight: 300; color: #7e7e7e; }
.info:before { content: ""; position: absolute; top: 50%; left: 20px; margin-top: -15px; background: url('../img/icons-sb115184b73.png') 0 -420px no-repeat; width: 30px; height: 30px; }

.wrapper_shops { background: url(../img/shop-bg.jpg) 0 0 no-repeat; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }

.shops { padding: 70px 0 90px; *zoom: 1; color: white; background: url(../img/shop.png) -69px -36px no-repeat; }
.shops:before, .shops:after { content: ""; display: table; }
.shops:after { clear: both; }

.shops__sub-title { margin: 10px 0 25px; font-weight: 500; color: #d7eaf8; font-size: 21px; }

.shop-label { clear: both; font-size: 0; text-align: center; height: 66px; line-height: 66px; border: 2px solid #5469b9; -webkit-border-radius: 35px; -moz-border-radius: 35px; -ms-border-radius: 35px; -o-border-radius: 35px; border-radius: 35px; background: rgba(0, 0, 0, 0.1); }
.shop-label img { margin: 0 7px; vertical-align: middle; }

.overlay { position: fixed; display: none; top: 0; right: 0; bottom: 0; left: 0; z-index: 5000; background: black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

.popup { position: absolute; display: none; top: 100px; left: 50%; z-index: 10000; width: 806px; margin-left: -403px; border-radius: 5px; background: white; box-shadow: inset 0 0 0 1px white, inset 0 0 50px rgba(188, 212, 231, 0.37); -moz-box-sizing: border-box; box-sizing: border-box; border: 3px solid #04487d; }
.popup .btn-close { position: absolute; top: 20px; right: 20px; }
.popup .h2 { font-size: 27px; }

.popup__top { border-bottom: 1px solid #066ab7; padding: 19px 30px 16px; font-size: 18px; font-weight: 500; }

.popup__main { border-top: 1px solid white; padding: 19px 30px 27px; box-shadow: inset 0 5px 15px #eaf3fa; }
.popup__main .btn_center { margin-bottom: 38px; }

.btn-close { width: 30px; height: 30px; background: #4e95cc; text-align: center; border-radius: 3px; font-size: 0; }
.btn-close i { display: inline-block; background: url('../img/icons-sb115184b73.png') 0 -600px no-repeat; width: 14px; height: 14px; }
.btn-close:hover { background: #04487d; }
.btn-close:active { margin-top: 1px; }

.popup__tariff { margin-bottom: 28px; *zoom: 1; font-size: 14px; line-height: 1.3; }
.popup__tariff:before, .popup__tariff:after { content: ""; display: table; }
.popup__tariff:after { clear: both; }
.popup__tariff img { float: left; margin-right: 15px; }
.popup__tariff div { overflow: hidden; }

.popup__meta { font-size: 13px; color: #666666; font-weight: 300; }

.table { width: 100%; font-size: 14px; border-collapse: separate; }
.table th { padding: 15px 20px; color: white; font-weight: 500; font-size: 16px; border-left: 1px solid #126aae; border-right: 1px solid #115e9a; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #066ab7), color-stop(100%, #055a9c)); background-image: -webkit-linear-gradient(#066ab7, #055a9c); background-image: -moz-linear-gradient(#066ab7, #055a9c); background-image: -o-linear-gradient(#066ab7, #055a9c); background-image: linear-gradient(#066ab7, #055a9c); }
.table th:first-child { text-align: left; padding-left: 20px; border-left: 0; border-radius: 5px 0 0 0; }
.table th:last-child { border-radius: 0 5px 0 0; }
.table tr:first-child td { border-top: 1px solid #066ab7; }
.table td { padding: 8px 20px; border-right: 1px solid #066ab7; border-bottom: 1px solid #066ab7; text-align: center; }
.table td:first-child { border-left: 1px solid #066ab7; text-align: left; }
.table tbody tr:last-child td:first-child { border-radius: 0 0 0 5px; }
.table tbody tr:last-child td:last-child { border-radius: 0 0 5px 0; }

.table_tariff { margin-bottom: 23px; }
.table_tariff strong { display: block; font-weight: 500; font-size: 16px; }
.table_tariff span { font-size: 12px; }

.price-val_small span { font-size: 24px; }

.btn_center { display: block; margin: 0 auto; }

.order-box { text-align: left; font-size: 0; }

.order-box__item { display: inline-block; margin-left: 34px; font-size: 16px; font-weight: 500; line-height: 1; }
.order-box__item sub { vertical-align: top; position: relative; top: 2px; }
.order-box__item strong { font-size: 18px; font-weight: 500; }
.order-box__item:first-child { margin-left: 0; }

.btn-blue { display: inline-block; padding: 8px 20px; font-size: 12px; text-transform: uppercase; color: white; border-radius: 15px; background: #0569b7; text-decoration: none; font-family: "Ubuntu", Arial, sans-serif; }
.btn-blue:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; color: white; text-decoration: none; }

.dotted-box_order { margin-bottom: 42px; padding: 13px 15px; text-align: left; }

.h4 { margin-bottom: 9px; font-weight: 500; font-size: 16px; }

.wrapper_shops { position: relative; z-index: 2; }

.footer { padding: 80px 0 20px; min-height: 400px; position: relative; background: white url(../img/footer-bg.png) 0 100% repeat-x; }
.footer:before { content: ""; position: absolute; top: -108px; left: 50%; margin-left: -560px; width: 1120px; height: 201px; background: url(../img/snow.png) 0 0 no-repeat; }
.footer .soc-share { margin: 47px 0 44px; }

.dotted-box_form { margin-top: 18px; padding: 28px 15px 15px 28px; }
.dotted-box_form .form { margin-bottom: 25px; padding: 0; text-align: left; }
.dotted-box_form .input_name { width: 336px; }
.dotted-box_form .input_phone { width: 116px; }
.dotted-box_form .btn { width: 330px; }
.dotted-box_form p strong { font-weight: 500; }

.input_blue { border-color: #066ab7; }

.soc-share { text-align: center; }

.soc-share__main { display: inline-block; }

.video { position: relative; margin: 0 auto; width: 700px; height: 391px; overflow: hidden; border: 5px solid #c6d8e7; border-radius: 5px; }

.video__play { position: absolute; top: 50%; left: 50%; margin: -55px 0 0 -55px; background: url('../img/icons-sb115184b73.png') 0 -196px no-repeat; width: 110px; height: 110px; }

.footer__cont { position: relative; display: block; width: 445px; margin: 158px auto 0; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 60px; font-size: 14px; color: #578db7; }
.footer__cont:before { content: ""; position: absolute; left: 0; top: 13px; background: url('../img/icons-sb115184b73.png') 0 -507px no-repeat; width: 42px; height: 53px; }

.footer__phone { margin-bottom: -2px; color: #066ab7; }
.footer__phone sup { position: relative; top: 5px; font-size: 24px; vertical-align: top; }
.footer__phone span { font-weight: 500; font-size: 48px; }
